shreddit-comment[author="AutoModerator"],
#right-sidebar-container {
    display: none !important;
}

shreddit-post-text-body>div>div>div,
div[slot="comment"] {
    font-size: 1.05rem !important;
    line-height: 1.6rem !important;
}

/* .vjs-text-track-display {
    font-size: 1.05rem !important;
} */